/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --headings-color: #000028;
  --heading-decorate-color: #FF0070;
  --heading-decorate-color-rgb: 255, 0, 112;
  --sections-headings-color: #FF0070;
  --main-heading-color: #DB00FF;
  --header-background: url(../images/cover-image-dark.png);
}

.theme-dark .header__decoration-dark {
  /* Вам также нужно будет написать ряд подобных селекторов */
  display: block;
}