/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --headings-color: #000028;
  --heading-decorate-color: #FF0070;
  --heading-decorate-color-rgb: 255, 0, 112;
  --sections-headings-color: #FF0070;
  --main-font-size: 18px;
  --main-heading-color: #DB00FF;
  --fonts: 'IBM Plex mono', monospace;
  --header-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-background: url(../images/cover-image-dark.png);
  --padding-grouth: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}